* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.form-layout{
  width:50%;
  margin:2rem auto;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-title{
  margin-bottom: 1.5rem;
  
}

.bold{
  font-weight: 700;
}

.form-layout form{
  width:100%;
}

.form-options{
  list-style: none;
  height:142px !important;
  overflow:auto;
}

#toggle::-webkit-scrollbar {
  display: none;
}

#toggle input{
  position:absolute;
  left:-9999px;
}

label{
  user-select: none;
}

#toggle label{
  margin: 0.3rem 0.2rem;
  padding: 0.2rem;
  width:100%;
}

#toggle label::before{
  font-family: "Material Icons";
  content: "\e5cd";
  margin-right: 10px;
}

input:checked + label::before{
  font-family: "Material Icons";
  content: "\e876"!important;
  margin-right: 10px;
}