{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<h1>Hello World {{ name }}!!</h1>
{% if current_user.is_authenticated %}
<a href={{url_for('doctorView')}}>Go to doctor Dashboard</a>
  {% if current_user.roles == 'admin' %}
  <a href={{url_for('adminView')}}>Go to admin panel</a>
  {% endif %}
{% else %}
<a href={{url_for('doctorLoginView')}}>If doctor go login here</a>
{% endif %}
{% endblock content %}
