{% extends 'base.html' %}
{% block title %}
<title>{{ title }}</title>
{% endblock %}
{% block content %}
<div class="form-layout">
    <h2 class="form-title">Register Doctor</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
        {{ form.first_name.label(class="form-label") }}
        {{ form.first_name(class="form-control") }}
        </div>
        <div class="mb-3">
        {{ form.last_name.label(class="form-label") }}
        {{ form.last_name(class="form-control") }}
        </div>
        <div class="mb-3">
        {{ form.role.label(class="form-label") }}
        {{ form.role(class="form-control") }}
        </div>
        <div class="mb-3">
        {{ form.specializations.label(class="form-label",for="toggle") }}
        {{ form.specializations(class="form-control form-options",id="toggle") }}
        </div>
        <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary bold") }}
    </form>
</div>
{% endblock %}
